.blurb-section {
    padding: 75px 400px 0 415px;
}

.blurb-question {
    font-size: 2.8em;
    font-weight: 500;
}

.blurb-columns {
    display: flex;
}

.blurb {
    width: 510px;
}

.blurb-top {
    height: 200px;
    margin-bottom: 0px;
}

h4 {
    font-size: 1.8em;
    font-weight: 600;
}

.blurb-title {
    color: #4d4d4d;
    text-decoration: none;
    padding-bottom: 12px;
    border-bottom: 2px solid #009ddc;
}

.blurb-bottom {
    margin-top: 40px;
}

.blurb:first-child {
    margin-right: 60px;
}

.blurb-text {
    font-size: 1.6em;
    color: #636466;
    line-height: 1.6em;
}